<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新闻头条查询</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
{{/*
<form action="/news.html" method="post">
    新闻类型：
    <select name="types" id="type">
        <option value="top">请选择类型</option>
        <option value="guonei">国内</option>
        <option value="guoji">国际</option> <!-- 复选框只能选择和发送一个option，可通过获取slect的值，从而获取到value-->
        <option value="yule">娱乐</option>
        <option value="tiyu">体育</option>
        <option value="junshi">军事</option>
        <option value="keji">科技</option>
        <option value="caijing">财经</option>
        <option value="shishang">时尚</option>
        <option value="youxi">游戏</option>
        <option value="qiche">汽车</option>
        <option value="jiankang">健康</option>
    </select>
    <br>
    当前页数：<input type="text" name="page">
    <br>
    返回条数：<input type="text" name="page_size">
    <br>
    只包含详情：
    <input type="radio" name="is_filter" value="1">是
    <input type="radio" name="is_filter" value="0"/>否
    <br>
    <input type="submit" name="yes">
    <!--

    -->
</form>*/}}
<h2>
    <a href="/news.html">新闻头条</a>
</h2>
<h2>
    <a href="/horo.html">星座</a>
</h2>
<h2>
    <a href="/phoneNum.html">手机号码归宿地</a>
</h2>
</body>
</html>